/* main*/
html, body {
	background-color: #eee;
	color: #222;
	font: 0.8125em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container-fluid {
    padding: 0;
}

.container {
	padding: 40px 20px;
	margin: 0 auto;
	width: 400px;
}

.row {
    margin: 0;
    margin-top: 20px;
}
.container {
    padding-right: 50px;
    padding-left: 50px;
}
.removepadding {
    padding: 0;
}

@media (max-width: 500px) {
    
}

/* .bubble */
.container .row {
	width: 100%;
	height: 100%;
	border-radius: 4px 4px 0 0;
	background: rgb(245, 239, 231);
	margin-bottom: 0;
	padding: 20px;
	overflow-y: scroll;
	color: #fff;
}

.container .row:after {
	display: block;
	clear: both;
	content: " ";
}
.container .bubble {
	position: relative;
	min-height: 40px;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 10px;
	clear: both;
}

.container .bubble-left {
	margin-right: 20px;
	border-top-left-radius: 0;
	float: left;
	background: #fff;
	color: rgb(35,0,35);
}

.container .bubble-right {
	margin-left: 20px;
	border-bottom-right-radius: 0;
	float: right;
	background: rgb(113,91,119);
}

.container .bubble-left:after,
.container .bubble-right:after {
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -10px;
	bottom: 0;
}

.container .bubble-right:after {
	border-width: 10px 0 0 10px;
	right: -10px;
	border-color: transparent rgb(113,91,119);
}

.container .bubble-left:after {
	border-width: 10px 10px 0 0;
	left: -10px;
	bottom: 94%;
	border-color: transparent #fff;
	transform: rotate( 270deg );
}

.container table tr {
	border-bottom: solid #000;
	border-width: 1px;
	display: block;
}
.container table tr:last-child {
	border: none;
}

.container .info {
	width: 100%;
	background-color: #fff;
	color: #000;
	margin-bottom: 10px;
}

.container .info .tophalf {
	padding: 10px;
	height: 150px;
	background-color: rgb(245,159,10);
	color: #000;
	font-weight: bold;
	font-size: 20px;
}

.container .info .tophalf span {
	color: #fff;
}

.container .info .profilepic {
	position: absolute;
	left: 0;
	top: 44%;
	transform: translateY(-50%);
	right: 0;
	text-align: center;
}

.container .info .bottomhalf {
	padding: 5px;
	padding-top: 20px;
	height: 175px;
	background-color: #fff;
	font-size: 14px;
}

.container .info .bottomhalf p {
	margin: 0;
}

.container .info .bottomhalf table tr {
	border: none;
	display: inline;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border: none;
	padding: 3px;
}

.container .map {
	width: 100%;
	background-color: #fff;
	color: #000;
	overflow:hidden;
	height:250px;
	width:100%;
}
.container .map #gmap_canvas img{max-width:none!important;background:none!important}